project:
  type: website

website:
  title: "E155 Karaoke Final Project"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: final_report.qmd
        text: Final Report

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true